<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>列表过滤</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="root">
    <h1>人物过滤</h1>
    <input type="text" placeholder="请输入人物" v-model="keyCode">
    <ul>
      <li v-for="(item ,index) in filterList" :key="item+index">
        {{item.name}} {{item.age}} {{item.sex}}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#root',
      data: {
        list: [
          { name: '马冬梅', age: 19, sex: '女' },
          { name: '周冬雨', age: 20, sex: '女' },
          { name: '周杰伦', age: 19, sex: '男'},
          { name: '王伦', age: 30, sex: '男'}
        ],
        keyCode: '',
        filterList: []
      },
      // computed: {
      //   filter () {
      //     return this.list.filter(p => {
      //        return p.name.indexOf(this.keyCode) !== -1;
      //     })
      //   }
      // }
      watch: {
        keyCode: {
          immediate: true,
          handler (val) {
            // console.log('val改变了===', val);
            this.filterList = this.list.filter(p => {
              return p.name.indexOf(val) !== -1
            })
          }
        }
      }
    })
  </script>
</body>
</html>