<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="root">
    <div v-text="num"></div>
    <button @click="addHandler">+1</button>
    <!-- v-show适用与频繁的切换， v-if不适合 -->
    <!-- <div v-show="num===1">Vue</div>
    <div v-show="num===2">React</div>
    <div v-show="num===3">Angular</div> -->
    <!-- <div v-if="num===1">Vue</div>
    <div v-if="num===2">React</div>
    <div v-if="num===3">Angular</div> -->
    <div v-if="num===1">Vue</div>
    <div v-else-if="num===2">React</div>
    <div v-else-if="num===3">Angular</div>
    <div v-else>haha</div>
  </div>
  <script>
    const vm = new Vue({
      el: '#root',
      data: {
        num: 1
      },
      methods: {
        addHandler () {
          this.num++
          // if (this.num >= 4) {
          //   this.num = 1;
          // }
        }
      },
    })
  </script>
</body>
</html>